body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #111, #333);
    color: white;
}

header {
    padding: 100px 20px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

.botao {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

section {
    padding: 50px 20px;
    background-color: #222;
}
